@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  /* font-family: 'Heebo', Arial, Helvetica, sans-serif; */
  /* font-family: 'Roboto Condensed', sans-serif; */
  font-family: 'Roboto', sans-serif;
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-stretch: ultra-expanded;
}
body {
  color: #303030;
}
title {
  display: none;
}

/* ******************************************************************
NAVIGATIE
****************************************************************** */


nav section.first_part{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d9d9d9;
  align-items: center;
  padding: 0.5em 1em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: white;
  z-index: 20;


}
nav button.hamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  border: none;

}
nav button.hamburger img {
  width: 2rem;
}

nav button.hamburger span {
  display: block;
  margin: -0.2rem 0 0 0;
  padding: 0;
  color: #ACACAC;
  font-size: 0.7rem;
  flex-grow: 1;
}

nav h1 {
  margin: 0;
}
nav h1 span{
  display: none;
}
nav h1 a.logo_knop img {
  width: 2em;
  margin: 0 0 -0.4em 0;
}

nav a:last-of-type img {
  width: 3.4em;
}
input {
  margin: 1.5em 0.5em;
  background-color: grey;
}
/* ***********************************
------------------ZOEKEN
*********************************** */
section.searching {
  display: flex;
  justify-content: center;
  position: relative;
  box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,0.15);
  margin: 4em 0 0 0;
}
section.searching button.open_searchbox {
  flex-grow: 1;
  margin: 1em;
  padding: 0.9em 1.2em 0.9em 1.4em;
  border-radius: 10em;
  border: none;
  background-color: #f0f4f7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #838383;
  font-size: 1em;
  font-weight: 300;
}
section.searching button.open_searchbox img {
  width: 1.3em;
  flex-shrink: 0;
}
/* ***********************************
------------------ZOEKVELD------------
*********************************** */

section.searching form {
  display: none;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 25;
  background-color: white;
}
section.searching form.toon_searchbox {
  display: block;
}
section.searching form div {
  position: relative;
}
section.searching form input {
  position: absolute;
  height: 3rem;
  width: 100vw;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0 0 0 3.5rem;
  font-size: 1rem;
  font-weight: 300;
  border: 1px solid #d9d9d9;
  background-color: white;
}
section.searching div button:first-of-type {
  position: absolute;
  border: none;
  background-color: transparent;
  padding: 0.1rem;
  width: 1.5rem;
  top: 1.1rem;
  left: 1rem;
}
section.searching div button:first-of-type img {
  width:100%;
}
section.searching div button:last-of-type {
  position: absolute;
  border: none;
  background-color: #00ade6;
  padding: 0.01rem;
  top: 0;
  height: 3rem;
  width: 3rem;
  padding: 1rem;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.searching div button:last-of-type img {
  width: 1.3rem;
}




/* ******************************************************************
********************************************************************
-------------              HOMEPAGE           ----------------------
*********************************************************************
****************************************************************** */






/* ***********************************
------------------COVER---------------
*********************************** */

section.bonuslijst {
  position: relative;
}

section.bonuslijst div {

  background-image: url("../media/bonus_banner.png");
  height: 13em;
  background-size: cover;
  background-position: right;
  position: absolute;
  width: 100%;
}
section.bonuslijst div a {
  margin: 1.5em 0 0 1.5em;
  display: block;
  color: white;
  text-shadow: 0.1em 0.1em 0.5em black;
}
section.bonuslijst div a h2 {
  font-weight: 700;
  margin: 0;
}
section.bonuslijst div a p {
  font-weight: 400;
  margin: 0.7rem 0 0 0;
}


/* *******************************************************
LIST ITEMS BONUSLIJST
******************************************************* */
section.bonuslijst ul {
  padding: 0;
  display: flex;
  overflow-x: auto;
  position: relative;
  top: 10.5em;
}

section.bonuslijst ul li {
  background-color: white;
  list-style-type: none;
  width: 65vw;
  height: 13em;
  margin: 0 0 0 1.5em;
  position: relative;
  box-shadow: 0.1em 0.1em 0.7em #f0f0f0;
  flex-shrink:0;
}
section.bonuslijst ul li + li {
  margin: 0 0 0 1em;
}


section.bonuslijst ul li a:first-of-type {
  text-decoration: none;
  color: black;
}
section.bonuslijst ul li a:first-of-type img {
  width: 7em;
  position: absolute;
  left: 50%;
  top: 0.3em;
  transform:translate(-50%, 0); /*Bron: Codepen van Positioning les*/
  z-index: 1

}
section.bonuslijst ul li a:first-of-type h3 {
  position: absolute;
  bottom: 2em;
  left: 1.4em;
  margin: 0;
  font-size: 0.9em;
  font-weight: 300;
  max-width: 65%;
  line-height: 1.2em;
}
section.bonuslijst ul li a:first-of-type p:first-of-type {
  position: absolute;
  z-index: 2;
  top: 7.9em;
  left: 1.8em;
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 600;
  background-color: #ff7900;
  color: white;
  padding: 0.1em 0.3em;
  border-radius: 5%;
}
section.bonuslijst ul li a:first-of-type p:nth-of-type(2) {
  z-index: 2;
  position: absolute;
  top: 3em;
  right: 1.25em;
  display: flex;
  align-items: flex-start;
  font-weight: 600;
}
section.bonuslijst ul li a:first-of-type p:nth-of-type(2) span.hele_euros{
  font-size: 1.7em;
}
section.bonuslijst ul li a:first-of-type p:nth-of-type(2) span.centen{
  font-size: 0.8em;
  margin-top: 0.25em;
}
section.bonuslijst ul li a:first-of-type p:nth-of-type(3) {
  z-index: 2;
  position: absolute;
  top: 7.9em;
  right: 1.8em;
  font-size: 0.7em;
  color: #acacac;
}
section.bonuslijst ul li a:last-of-type img {
  width: 1.8em;
  position: absolute;
  bottom: 2em;
  right: 0.9em;

}

/* ****************************************************************************
MEDEDELING SECTIE
**************************************************************************** */
section.mededelingen {
  margin-top: 12rem;
}
section.mededelingen a {
  margin: 0 1rem 1rem 1rem;
  display: block;
  display: flex;
  box-shadow: 0.1em 0.1em 1em #dbdbdb;
  border-radius: 0.3em;
  overflow: hidden;
  text-decoration: none;
  font-size: 0.9em;
  font-weight: 400;
  color: #303030;
}
section.mededelingen a img {
  height: 100%;
  flex-shrink: 0;
  height: 8em;
}
section.mededelingen a section {
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section.mededelingen a section h3 {
  margin: 0;
  line-height: 1.3em;
}
section.mededelingen a section p {
  margin: 0;
  color: #00ade6;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.1em;

}

/* ****************************************************************************
RECEPTEN SECTIE
**************************************************************************** */

section.recepten {
  background-color: #f9f7f5;
  padding: 0.5rem;
  margin: 0 0 2rem 0;
}
section.recepten h2 {
  margin: 0.4rem 0 0 0.6rem;
}
section.recepten ul {
  padding: 0;
  display: flex;
  overflow-x: auto;
  margin: 0.5rem 0 0 0;
}
section.recepten li {
  background-color: white;
  width: 17.8rem;
  list-style-type: none;
  margin: 0 0 1rem 0.6rem;
  height: 17rem;
  box-shadow: 0.1rem 0.2rem 0.8rem #e2e2e2;
  flex-shrink: 0;
}
section.recepten li + li {
  margin-left: 1rem;
}
section.recepten li:last-of-type {
  margin-right: 4rem;
}
section.recepten li a {
  text-decoration: none;
  display: block;
  position: relative;
  overflow: hidden;
  height: 100%;
  color: #303030;
}
section.recepten li a img.cover_image_recepten {
  width: 100%;
  position: absolute;
  top: -1.5rem;
}
section.recepten li div {
  display: flex;
  background-color: #f7f7f7;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 8.5rem;
  padding: 0.5em;
}
section.recepten li div img {
  width: 0.8rem;
  height: 0.85rem;
  flex-shrink: 0;
  margin: 0 0.3rem 0 1em;
}
section.recepten li div p {
  font-size: 0.8em;
}
section.recepten h3 {
  position: absolute;
  top: 11.5rem;
  left: 1.5rem;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.1em;
  margin-top: 0.5rem;
  max-width: 85%
}
section.recepten a.full_size_button {
  text-decoration: none;
  display: block;
  color: #00ade6;
  font-weight: 400;
  text-align: center;
  border: 0.01rem solid #00ade6;
  margin: 0.5rem 0.6rem;
  padding: 0.6rem;
  border-radius: 0.3rem;
}

/* ****************************************************************************
UITGEBREID SHOPPEN
**************************************************************************** */

section.uitgebreid_shoppen h2 {
  margin-left: 1rem;
  font-size: 1.6rem;
}
section.uitgebreid_shoppen ul {
  list-style-type: none;
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(15em, 1fr));
  grid-gap: 1em;
  margin:1rem;
}
section.uitgebreid_shoppen ul li{
  height: 9em;
}
section.uitgebreid_shoppen ul li.uitgebreid_shoppen_li_1 {
  background-color: #fce2e2;
}
section.uitgebreid_shoppen ul li.uitgebreid_shoppen_li_2 {
  background-color: #ffebd9;
}
section.uitgebreid_shoppen ul li a{
  text-decoration: none;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #303030;
}
section.uitgebreid_shoppen  ul li div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 01rem 0 1rem 1rem;
}
section.uitgebreid_shoppen  ul li div h3 {
  font-size: 1.1rem;
  font-weight: 600;
}
section.uitgebreid_shoppen  ul li div p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  font-weight: 300;
}

section.uitgebreid_shoppen  ul li div p span img{
  width: 0.3rem;
  margin:0 0 0 1rem;
  height: auto;
  display: inline;
}
section.uitgebreid_shoppen  ul li img {
  height: 8rem;
}


/* ****************************************************************************
FOOTER
**************************************************************************** */


footer {
  background-color: #f5f5f5;
}
footer section.root_links {
  padding: 1.5rem 1rem 1rem 1rem;
}
footer h4 {
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid #f3f0eb;
}
footer h4.change_first_footer_header {
  color: #00ade6;
  border-bottom: none;
  padding: 0.5rem 0 0 0;
}
footer h4 svg {
  width: 0.6rem;
  transition: 0.3s;
}
footer h4 svg.change_first_arrow_svg {
  transform: rotate(180deg);
  transition: 0.3s;
}
footer h4 svg path.change_first_arrow_path {
  stroke: #00ade6;

}
footer section.root_links ul {
    display: none;
}
footer section.root_links ul.change_first_ul {
  display: block;
}
footer section.root_links ul li a {
  padding: 0.7rem 0;
  text-decoration: none;
  color: #303030;
  font-weight: 400;
}
footer section.root_links ul li:last-of-type {
  padding: 0 0 0.5rem 0;
  border-bottom: 1px solid #f3f0eb;
}









/* ******************************************************************
********************************************************************
-------------      DETAILPAGINA CHOCOMEL       ----------------------
*********************************************************************
****************************************************************** */

main.detailpagina h3 {
  font-size: 1.5rem;

}
article.detailpagina_article {
  margin: 0 1rem;
}
/* ****************************************************************************
ROOT NAVIGATIE
**************************************************************************** */

section.root_navigatie {
  display: flex;
  background-color: #f9f7f5;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding: 0 1rem;
}
section.root_navigatie a {
  display: flex;
  font-size: 0.9rem;
  align-items: center;
  text-decoration: none;
  color: #00ADE6;
}
section.root_navigatie a img {
  width: 0.3rem;
  height: 0.6rem;
}
section.root_navigatie a:first-of-type img {
  margin-right: 0.7rem;
}
section.root_navigatie a:last-of-type img {
  margin-left: 0.7rem;
}


/* ****************************************************************************
DETAILPAGINA COVER
**************************************************************************** */


section.detail_pagina_prijs_plaatje {
  width: 100%;
  position: relative;
  height: 14.5rem;
}
section.detail_pagina_prijs_plaatje img{
  width: 12.5rem;
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translate(-50%, 0); /*Bron: Codepen van Positioning les*/
  z-index: 1;
}
section.detail_pagina_prijs_plaatje p.korting_sticker {
  position: absolute;
  z-index: 2;
  top: 1rem;
  left: 0;
  padding: 0.5rem;
  color: white;
  background-color: #ff7900;
  border-radius: 0.2rem;
  font-weight: 600;
}
 section.detail_pagina_prijs_plaatje div {
  position: absolute;
  z-index: 3;
  right: 0;
  bottom: 1rem;;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
section.detail_pagina_prijs_plaatje div p:nth-of-type(1) {
  text-decoration: line-through;
}
section.detail_pagina_prijs_plaatje div p:nth-of-type(2) {
  color: #ff7900;
  display: flex;
  align-items: flex-start;
  font-size: 1.9rem;
  font-weight: 600;
}
section.detail_pagina_prijs_plaatje div p:nth-of-type(2) span {
  font-size: 1rem;
  margin-top: 0.2rem;
}
section.detail_pagina_prijs_plaatje div p:nth-of-type(3) {
  color: #acacac;
}
article.detailpagina_article section:nth-of-type(2) p:first-of-type {
  margin: 0.3rem 0 0 0;
  color: #acacac;
}
article.detailpagina_article section:nth-of-type(2) button {
  width: 100%;
  padding: 0.8rem 0;
  font-size: 1rem;
  color: white;
  font-weight: 400;
  background-color: #ff7900;
  border: none;
  border-radius: 0.25rem;
  margin: 2rem 0;
}
article.detailpagina_article section:nth-of-type(2) p:nth-of-type(2) {
  font-weight: 300;
  margin-bottom: 1.3rem;
}
 article.detailpagina_article section:nth-of-type(2) ul li {
   margin: 0.5rem 0;
   padding-left: 1rem;
   display: flex;
   align-items: flex-start;
   font-weight: 300;
}
article.detailpagina_article section:nth-of-type(2) ul li::before { /*Bron: https://www.w3.org/Style/Examples/007/color-bullets.en.html */
  content: '•';
  color: #00ade6;
  display: block;
  margin: -0.45rem 1rem 0 0;
  font-size: 1.8rem;
}


/***************************************
ANDERE SOORTEN
**************************************/


section.andere_soorten {
  margin: 1.8rem 0 0 0;
}
section.andere_soorten ul {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
}
section.andere_soorten a {
  text-decoration: none;
  color: #303030;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.andere_soorten img {
  width: 5rem;
  margin: 0 0 0.5rem 0;
}
section.andere_soorten li a p {
  font-size: 0.85rem;
  font-weight: 500;
}
section.andere_soorten li a p:last-of-type {
  color: #acacac;
}


/***************************************
OMSCHRIJVING SECTION
**************************************/


section.omschrijving {
  margin: 2.5rem 0 0 0;
}
section.omschrijving ul {
  margin: 0.7rem 0 1.7rem 0;
}
section.omschrijving ul li {
  display: flex;
}
section.omschrijving ul li::before {
  content: '•';
  color: #00ade6;
  display: block;
  margin: -0.4rem 1rem 0 0;
  font-size: 1.8rem;
}
section.omschrijving h4 {
  margin: 0 0 0.3rem 0;
}
section.omschrijving p:first-of-type {
  margin: 0 0 0.7rem 0;
}


/***************************************
INGREDIËNTEN SECTION
**************************************/

section.ingredienten {
  margin: 4rem 0
}
section.ingredienten h3 {
  margin:0 0 0.7rem 0;
}
section.ingredienten p:first-of-type {
  line-height: 1.5rem;
}
section.ingredienten h4 {
  margin: 1.5rem 0 0.4rem 0;
}


/***************************************
VOEDINGSWAARDEN SECTION
**************************************/


section.voedingswaarden p:first-of-type {
  margin: 0.7rem 0;
}
section.voedingswaarden table {
  width: 100%;
  display: table;
  border-collapse: collapse;
  margin: 1rem 0 0 0;
}
section.voedingswaarden tr {
  display: table-row;
}
section.voedingswaarden th {
  display: table-cell;
  text-align: left;
  border-bottom: 2px solid #e0e0e0;
  padding: 0.7rem 0.5rem 0.7rem 0;
  line-height: 1.3rem;
}
section.voedingswaarden th:first-of-type {
  padding: 0 0 0 0.5rem;
}
section.voedingswaarden th:last-of-type {
  padding: 0.7rem 0.5rem 0.7rem 0.5rem;
}
section.voedingswaarden td {
  display: table-cell;
  padding: 0.7rem 0;
  border-bottom: 1px solid #e0e0e0;
}
section.voedingswaarden td:first-of-type {
  width: 100%;
  padding: 0 0 0 0.5rem;
}
section.voedingswaarden tr td:nth-of-type(2) {
  width: 100%;
}
section.voedingswaarden td:last-of-type {
  padding: 0 0.5rem 0 0.5rem;
  width: 100%;
}
section.voedingswaarden td.table_sub_categorie {
  padding: 0 0 0 1.5rem;
}
section.voedingswaarden p:last-of-type {
  text-align: right;
  font-size: 0.75rem;
  font-weight: 300;
  margin: 0.5rem 0;
}
